{% extends 'mailing/base.html' %}

{% block title %}SFMailing::{{title}}{% endblock %}

{% block content %}
<div class="container mt-5 ms-5">
    <div class="card" style="width: 800px;">
        <div class="card-body" style="padding-bottom: 25px">
            <h5 class="card-title" style="text-align: center">{{ client.last_name }} {{ client.first_name }}
                {% if client.patronym %}{{ client.patronym }}{% endif %}</h5>
                        <table class="table mt-4" style="width: 100%">
                <tbody>
                <tr>
                    <td>Email</td>
                    <td>{{ client.email }}</td>
                </tr>
                <tr>
                    <td>Комментарий</td>
                    <td>{{ client.comment }}</td>
                </tr>
                </tbody>
            </table>
            <div class="container">
                <a href="{% url 'mailing:client_update' client.pk %}"
                   class="col-2 btn btn-warning btn-sm">Изменить</a>
                <a href="{% url 'mailing:client_delete' client.pk %}" class="col-2 btn btn-danger btn-sm">Удалить</a>
                <a href="{{ prev_url }}" class="col-2 btn btn-primary btn-sm">Назад</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}