{% extends 'mailing/base.html' %}

{% block title %}SFMailing::{{title}}{% endblock %}

{% block content %}
<div class="col-8">
    <div class="container ms-5 mt-5">
        <h2>Мои текущие рассылки</h2>
    </div>
    <div class="container mt-5">
        <table class="table" style="width: 100%">

            <thead class="table-dark">
            <tr>
                <th scope="col">Дата создания</th>
                <th scope="col">Название</th>
                <th scope="col">Статус</th>
                <th scope="col">Время начала</th>
                <th scope="col">Последний день</th>
                <th scope="col">Клиенты</th>
                <th scope="col">Частота отправки</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for mailing in mailing_list %}
            <tr>
                <td>{{ mailing.created_at|date:'d.m.Y' }}</td>
                <td>{{ mailing.name }}</td>
                <td>{{ mailing.get_status_display }}</td>
                <td>{{ mailing.start_time|date:'d.m.y H:i' }}</td>
                <td>{{ mailing.finish_time|date:'d.m.y' }}</td>
                <td>{{ mailing.clients.count }}</td>
                <td>{{ mailing.get_frequency_display }}</td>
                <td><a class="btn btn-outline-secondary btn-sm" href="{% url 'mailing:mailing_detail' mailing.pk %}">Открыть</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
