{% extends 'mailing/base.html' %}

{% block title %}SFMailing::{{title}}{% endblock %}

{% block content %}
<div class="container mt-5 ms-5">
    <div class="card" style="width: 800px;">
        <div class="card-body" style="padding-bottom: 25px">
            <h3 class="card-title ms-2">{{ mailing.name }}</h3>
            <div class="row mt-5 ms-2">
                <a href="{% url 'mailing:mailing_update' mailing.pk %}" class="col-2 btn btn-warning btn-sm">Изменить</a>
                {% if mailing.status != 'f' %}
                <form action="{% url 'mailing:mailing_stop' mailing.pk %}" method="post" class="p-0">
                    {% csrf_token %}
                    <button class="col-2 btn btn-danger btn-sm mt-1 mb-1" type="submit">Завершить</button>
                </form>
                {% else %}
                <form action="{% url 'mailing:mailing_restore' mailing.pk %}" method="post" class="p-0">
                    {% csrf_token %}
                    <button class="col-2 btn btn-danger btn-sm mt-1 mb-1" type="submit">Возобновить</button>
                </form>
                {% endif %}
                <a href="{{ prev_url }}" class="col-2 btn btn-primary btn-sm">Назад</a>
            </div>
            <table class="table mt-4" style="width: 100%">
                <tbody>
                <tr>
                    <td>Сообщение</td>
                    <td><a href="{% url 'mailing:message_detail' mailing.message.pk %}" style="font-size: 1.2em">{{ mailing.message.subject }}</a></td>
                </tr>
                <tr>
                    <td>Период рассылки</td>
                    <td>{{ mailing.start_time|date:'d.m.y H:i' }} -
                        {{ mailing.finish_time|date:'d.m.y' }}
                    </td>
                </tr>
                <tr>
                    <td>Частота отправки</td>
                    <td>{{ mailing.get_frequency_display }}</td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>{{ mailing.get_status_display }} / <a href="{% url 'mailing:attempt_list' %}?mailing={{ mailing.pk }}">Посмотреть отчеты</a></td>
                </tr>
                </tbody>
            </table>


            <div class="container mt-5">
                <h5>Получатели: </h5>
                <table class="table mt-4" style="width: 100%">
                    <tbody>
                    {% for client in mailing.clients.all %}
                    <tr>
                        <td>{{ client.email }}</td>
                        <td><a href="{% url 'mailing:client_detail' client.pk %}">{{ client.last_name }} {{ client.first_name }}
                            {% if client.patronym %}{{ client.patronym }}{% endif %}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}