{% extends 'users/base_users.html' %}
{% load crispy_forms_tags %}
{% block title %}{{title}}{% endblock %}
{% block userscontent %}
<form class="row" method="post" enctype="multipart/form-data">
    <div class="card col-8 p-4">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button class="btn btn-primary btn-sm mt-3" type="submit">Сохранить</button>
        </p>
        <a href="{% url 'users:password_change' %}" class="text-secondary">Изменить пароль</a>
        <a href="{% url 'users:user_delete' %}" class="text-danger">Удалить аккаунт</a>
    </div>
</form>
{% endblock %}